input:focus, textarea:focus, sleect:focus, .form-control:focus {
  border-color: $primary_color !important;
  box-shadow: 0 0 3px $gray_20 !important;
}

textarea {
	min-height: 6em;
}

.b-form-section {
	display: block;
	clear: both;
	padding: 15px 0;
}

.form-control, .input-group {
	margin-bottom: 10px;
}

.b-button {
  background-color: $primary-color;
  padding: 8px 20px;
  font-weight: 600;
  color: $white;
  border: 0;

  &:hover {
    color: $white_80;
  } 
}