{% extends "templates/base.html" %}
{% block title %}The GovLab Projects{% endblock %}

{% block extras_post %}
<style>
.gl-tag {
	border: 1px solid black;
	padding: 2px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
</style>
{%endblock %}

{% macro projectProfile(project) -%}
    <li><h3><a href="/project/{{project|projectId}}">{{project|projectTitle}}</a></h3>
    		<p>{{project.description}}</p>
    		<p>Tags: {% for tag in project.tags %} <span class="gl-tag">{{tag}}</span> &nbsp; {% endfor %}</p>
    		<p>Team: {% for member in project.members %} <a href="/profile?user_email={{member}}">{{member.split('@')[0]}}</a>{% endfor %}</p>
    		{% if project.calendar %}
    		<iframe src="https://www.google.com/calendar/embed?title={{project|projectTitle}}&amp;showDate=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{project.calendar}}&amp;color=%236B3304&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>
    		{% endif %}
    		<p>
    </li>
{%- endmacro %}

{% block content %}

<section class="b-centered b-content">
	<h2>The GovLab Projects ({{projects|length}}) <a href="/project/new"><i class="fa fa-plus-square-o"></i></a></h2>
		<ul>
		{% for p in projects %}
    	{{projectProfile(p)}}
		{% endfor %}
		</ul>
</section>

{% endblock %}