<html>
<head>

<style>

	body { font-size: 250%;}
	.event-page-header { text-align: center; }
	.event-summary { font-weight: bold; }
	li { margin: 1em 0; }
	.event-description { font-size: 50%; color: gray; }
	.weather-widget { width: 100%; text-align: center;}

</style>

</head>

<body>

<div class="weather-widget">
	<a href="http://www.accuweather.com/en/us/brooklyn-heights-ny/11201/weather-forecast/2083954" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1416464940885" class="aw-widget-current"  data-locationkey="2083954" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1416464940885"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
</div>

<h1 class="event-page-header">Events for {{day}}</h1>

<ul>
{% for event in events %}
	<li>
		<div class="event-summary">{{event.summary}} ({{event.start.dateTime[11:16]}}–{{event.end.dateTime[11:16]}})</div>
		<div class="event-location">{{event.location}}</div>
		<div class="event-description">{{event.description}}</div>
  </li>
{% endfor %}
</ul>

</body>

</html>