{% extends "templates/base.html" %}
{% block title %}Wall of Shame{% endblock %}

{% block extras_post %}
<style>

h2.good {
	color: #38F028;
}

li.good::before {
	border-left: 6px solid #38F028;
};

</style>

<script type="text/javascript" src="/includes/jquery.sparkline.min.js"></script>

{%endblock %}

{% block content %}

<section class="b-centered b-content">
<h1><a name="stats">Snippet completion stats</a></h1>

<ul>
{% for user_stat in all_users_stats %}
<li><span style="display:inline-block; width:200px;">{{user_stat[0]}}</span> <span style="margin-left: 50px;" class="tristate">{{user_stat[1]|asList}}</span></li>
{% endfor %}
</ul>

<script>
$('.tristate').sparkline('html', {type: 'tristate',
	'tooltipValueLookups': { 'map': { '-1': 'Missing', '0': 'N/A', '1': 'Submitted' } } });
</script>

</section>

<section class="b-centered b-content">
<h1>Snippet completion (for last week)</h1>

<div class="b-half">
	<h2 class="good">Users in good standing ({{snippets_good|length}})</h2>
	<ul>
	{% for user in snippets_good %}
		<li class="good">{{user}}</li>
	{% endfor %}
	</ul>
</div>

<div class="b-half">
	<h2>Delinquent users ({{snippets_bad|length}})</h2>
	<ul>
	{% for user in snippets_bad %}
		<li>{{user}}</li>
	{% endfor %}
	</ul>
</div>

</section>

{% endblock %}